<article class="bike-card">
  <img
    class="bike-card_img"
    src="/src/assets/images/bicycles/{{bikeImageName}}.webp"
    alt="bike picture" width="245" height="184" loading="lazy">
  <div class="bike-card_content">
    <h3 class="bike-card_title">{{bikeName}}</h3>
    <p class="bike-card_label">{{bikeLabel}}</p>
    <div class="bike-card_bottom">
      <div class="bike-card_price">
        <span class="bike-card_cost">$ {{bikePrice}}</span> / Days
      </div>
      <button class="btn btn--white" type="button">rent</button>
    </div>
  </div>
</article>
