<ul class="social">
  <li>
    <a
      href="https://www.facebook.com"
      target="_blank"
      class="social_link icon icon-fb"
    >
      <span class="sr-only">Facebook</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com"
      target="_blank"
      class="social_link icon icon-youtube"
    >
      <span class="sr-only">YouTube</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.X.com"
      target="_blank"
      class="social_link icon icon-x"
    >
      <span class="sr-only">X</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com"
      target="_blank"
      class="social_link icon icon-insta"
    >
      <span class="sr-only">Instagram</span>
    </a>
  </li>
</ul>